*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven
bin/
target/

######################
# Intellij
######################
**/.idea/**
logs/**
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Eclipse
######################
.metadata
bin/
tmp/
logs/
META-INF/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.classpath
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/
*.sonarlint
.vscode
